version: '2'
services:
  frog_mongo:
    image: mongo:3.4
    container_name: frog_mongo
    env_file: .env
    ports:
      - 127.0.0.1:$FROG_MONGO_PORT:27017
    volumes:
      - frog_mongo_server_database:/data/db
  frog_postgres:
    image: postgres:9.5
    container_name: frog_postgres
    env_file: .env
    environment:
      POSTGRES_USER: frog
      POSTGRES_PASSWORD: frog
    ports:
      - 127.0.0.1:$FROG_POSTGRES_PORT:5432
  frog_mongo_console:
    image: mongo:3.4
    container_name: frog_mongo_console
    env_file: .env
    command: mongo --host server
    links:
      - frog_mongo:server

  #################### Base  ####################

  base_node: &base_node
    build: ./
    env_file: .env
    links:
      - frog_mongo:mongo
    volumes:
      - ./node:/home/node/app

  ################# Node CONTAINERS ###################

  frog_node_app:
    <<: *base_node
    container_name: frog_node_app
    command: node dummy.js
    ports:
      - 127.0.0.1:3001:3000

  frog_node_root:
    <<: *base_node
    container_name: frog_node_root
    user: root
    command: /bin/bash

networks:
  default:
    external:
      name: frog

volumes:
  frog_gems_2_4_0:
  frog_mongo_server_database:
