version: 2
jobs:
  build:
    docker:
      - image: darthjee/circleci_node_mongo:0.0.5
    steps:
      - checkout
      - run:
          name: Npm Install
          command: npm install;
      - run:
          name: Run Jasmine
          command: jasmine
      - run:
          name: JS Lint
          command: eslint -c .eslintrc.yml  lib/ spec/
